@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,400;1,500;1,600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
/************* RESPONSIVE BREAKPOINTS *************/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  overflow-x: hidden;
}

section.banner {
  background: url("../assets/everest-tkelly-banner.jpg") center no-repeat;
  height: 60vh;
  width: 100vw;
}

footer {
  margin-top: 1.5rem;
  width: 100vw;
  background: #1e212d;
  color: whitesmoke;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*****  NAVBAR   **********/
#btnBackToTop {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #393232;
  color: #f2edd7;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}

#btnBackToTop:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 999;
}

.top-nav {
  width: 100vw;
  height: 2rem;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-nav a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", serif;
  font-size: .7rem;
  position: absolute;
  right: 1rem;
}

.top-nav .active {
  text-decoration: underline;
  font-weight: 300;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #fff3e6;
  position: relative;
  font-family: "Cormorant Unicase", serif;
  font-weight: 500;
  -webkit-box-shadow: 10px 10px 44px -16px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 44px -16px rgba(0, 0, 0, 0.75);
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #000;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.test-class {
  width: 100%;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #000;
}

.nav > .nav-links > a:hover {
  background-color: #f2edd7;
}

.nav > .nav-links > .active {
  text-decoration: underline;
  font-weight: 400;
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: #f2edd7;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #000;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #fff3e6;
    height: 0px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/********* SIGN UP FORM **************/
.registerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 2.5rem;
}

.registerContainer .loginImage {
  background: url("../assets/annapurna_sanctuary_trek.jpg") center no-repeat;
}

.registerContainer .registerImage {
  background: url("../assets/madhushree-narayan-CadLQADJKzQ-unsplash.jpg") center no-repeat;
}

.registerContainer .registerImage, .registerContainer .loginImage {
  padding: 3rem;
  height: 45vh;
  width: 30vw;
  background-size: cover;
  -webkit-box-shadow: 4px 7px 24px -11px rgba(0, 0, 0, 0.75);
          box-shadow: 4px 7px 24px -11px rgba(0, 0, 0, 0.75);
}

.registerContainer .registerImage .loginLink, .registerContainer .loginImage .loginLink {
  position: relative;
  top: 130%;
  left: 20%;
  font-family: "Montserrat", serif;
}

.registerContainer .registerImage .loginLink a, .registerContainer .loginImage .loginLink a {
  color: #000;
}

@media (max-width: 980px) {
  .registerContainer .registerImage, .registerContainer .loginImage {
    display: none;
  }
}

.registerContainer form.registerForm {
  padding: 3rem;
  margin-bottom: 3rem;
  font-family: "Montserrat", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
}

.registerContainer form.registerForm a {
  color: #000;
}

.registerContainer form.registerForm h2 {
  font-size: 2rem;
}

.registerContainer form.registerForm .formGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registerContainer form.registerForm i {
  position: relative;
  left: 1.5rem;
}

.registerContainer form.registerForm input[type=text], .registerContainer form.registerForm input[type=password], .registerContainer form.registerForm input[type=email], .registerContainer form.registerForm input[type=checkbox], .registerContainer form.registerForm input[type=number] {
  border: none;
  border-bottom: 1px solid #000;
  padding: .3rem .3rem .3rem 2rem;
  width: 300px;
  margin-top: 2rem;
}

.registerContainer form.registerForm input[type=checkbox] {
  padding: 0;
  width: auto;
}

.registerContainer form.registerForm button {
  background: #0f1123;
  color: #fff;
  padding: 1rem 1.4rem 1rem 1.4rem;
  margin-top: 2rem;
  border: 0;
}

.registerContainer form.registerForm button:hover {
  background: #706897;
  cursor: pointer;
}

.registerContainer form.registerForm .socialSignIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registerContainer form.registerForm .socialSignIn .btnFb, .registerContainer form.registerForm .socialSignIn .btnTwitter, .registerContainer form.registerForm .socialSignIn .btnGoogle {
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 1rem 1rem .5rem;
  margin-top: .5rem;
  width: 250px;
}

.registerContainer form.registerForm .socialSignIn .btnFb:hover, .registerContainer form.registerForm .socialSignIn .btnTwitter:hover, .registerContainer form.registerForm .socialSignIn .btnGoogle:hover {
  background: #000;
  cursor: pointer;
}

.registerContainer form.registerForm .socialSignIn .btnFb {
  background: #3B5998;
}

.registerContainer form.registerForm .socialSignIn .btnTwitter {
  background: #00ACEE;
}

.registerContainer form.registerForm .socialSignIn .btnGoogle {
  background: #db4a39;
}

.registerContainer form.registerForm .socialSignIn .altLink {
  display: none;
}

@media (max-width: 980px) {
  .registerContainer form.registerForm .socialSignIn .altLink {
    display: unset;
  }
}

.introText {
  margin: 3rem;
  font-family: "Montserrat", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.introText h1 {
  font-family: "Cormorant Unicase", serif;
}

.section1, .section2, .section3 {
  margin: auto;
  margin-bottom: 4rem;
  height: 400px;
  width: 80vw  !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Montserrat", serif;
}

.section1 .left, .section1 .right, .section2 .left, .section2 .right, .section3 .left, .section3 .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 85%;
  width: 45%;
  text-align: justify;
  padding: 1rem;
}

.section1 .left h1, .section1 .right h1, .section2 .left h1, .section2 .right h1, .section3 .left h1, .section3 .right h1 {
  font-family: "Cormorant Unicase", serif;
  color: #c7956d;
  margin-bottom: 1rem;
}

.section1 .cover1, .section2 .cover1, .section3 .cover1 {
  background: url("../assets/ski-photo.png") center no-repeat;
  background-size: cover;
}

.section1 .cover2, .section2 .cover2, .section3 .cover2 {
  background: url("../assets/Paragliding_Feltre_331_MS_6142_cropped_1920x1080.webp") center no-repeat;
  background-size: cover;
}

.section1 .cover3, .section2 .cover3, .section3 .cover3 {
  background: url("../assets/annapurna_sanctuary_trek.jpg") center no-repeat;
  background-size: cover;
}

.gallery {
  background: #eee;
}

.gallery .flickity-button {
  display: none;
}

.gallery-cell {
  width: 100% !important;
  height: 70vh;
  background: #8c8;
  counter-increment: gallery-cell;
  margin-right: 0px !important;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.sport-box {
  counter-increment: gallery-cell;
  margin-right: 40px !important;
}

.container .flickity-page-dots {
  display: none;
}

#footer {
  width: 100%;
  font-family: "Montserrat", serif;
}

#footer .space-between {
  margin: auto;
}

#footer .space-between > div {
  width: 300px;
  text-align: center;
}

#footer .space-between > div p {
  font-size: 12px;
}

#footer .space-between > div a {
  text-decoration: none;
  color: white;
}

/** Flickity ends here**/
.hero-section {
  background: rgba(255, 255, 255, 0.136);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.176);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.176);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.054);
  position: absolute;
  top: 100px;
  right: 5%;
  width: 50%;
  padding: 20px;
  color: white;
}

.hero-section .hero-text {
  font-size: 48px;
  font-weight: 400;
  font-family: "Montserrat", serif;
}

.hero-section .btn {
  background: #1e212d;
  padding: 0.5rem 0.3rem;
  color: white;
  border: 0;
}

.sport-box {
  height: 400px;
  width: 400px;
  border-radius: 10px;
  color: white;
}

.sport-title {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.title-text {
  font-size: 24px;
  font-weight: 600;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.m-20 {
  margin: 20px 0px;
}

.pd-20 {
  padding: 20px !important;
}

.pd-10 {
  padding: 10px !important;
}

.space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title-underline {
  width: 100px;
  height: 3px;
  background-color: #00B662;
  margin-top: 3px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.183);
  position: relative;
  border-radius: 10px;
}

.bg {
  margin-top: 3rem;
  background: #000;
  -webkit-box-shadow: 4px 7px 24px -11px rgba(0, 0, 0, 0.75);
          box-shadow: 4px 7px 24px -11px rgba(0, 0, 0, 0.75);
  color: #fff;
  height: 110%;
  padding-bottom: 3rem !important;
  width: 100vw !important;
}

.display-inline {
  display: inline;
  margin-top: 5px;
}

#footer {
  background: #000;
  color: #fff;
}

@media only screen and (max-width: 700px) {
  .space-between {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer > div {
    width: 400px;
  }
}

/**PAYMENT PAGE**/
.paymentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 80vh;
}

.receipt {
  -webkit-box-shadow: 4px 7px 24px -11px rgba(0, 0, 0, 0.75);
          box-shadow: 4px 7px 24px -11px rgba(0, 0, 0, 0.75);
  padding: 1.7rem;
  border-radius: 10px;
  margin: 5vh auto auto auto;
  background-color: white;
  width: 70vw;
  height: 90%;
  font-size: 14px;
  font-family: "Montserrat", serif;
}

.receipt h1 {
  margin-bottom: 3rem;
  text-align: center;
  color: red;
  margin-top: 10px;
  font-family: "Cormorant Unicase", serif;
}

.payments {
  color: black;
}

.payments td {
  text-align: left;
}

.payments table {
  width: 90%;
  margin: 10px auto;
}

.payments table tr {
  margin: 10px 0px;
}

.payments table tr td {
  margin: 10px 0px !important;
  padding: 10px 0px;
}

.total {
  background: #aaaaaa;
  font-weight: 600;
  width: 100%;
  margin-top: 10px;
}

.total p {
  color: #171717;
}

.pay:hover div {
  background-color: #3f3b3b;
  cursor: pointer;
}

.pay div {
  margin: auto;
  background-color: #669b7c;
  width: 20%;
  height: 40px;
  text-align: center;
  padding: 10px 10px;
  margin-top: 110px;
}

.pay div p {
  color: white;
}
/*# sourceMappingURL=main.css.map */